.things {
    padding: 40px 0;

}

.things .mdCon {
    width: 50%;


}



.things .col1 {
    flex-basis: 100%;

}

.things .logo {
    width: 125px;
    padding-top: 10px;

}

.things .zuitt {
    width: 125px;
    padding: 18px;
}



.things .smCon {
    width: 50%;

}

.things .head {
    display: flex;
    align-items: center;
}

.things .head .divider {
    width: 40%;
}

.things .head h2 {
    margin: 0 20px;
    text-shadow: 0px 0px 12px rgba(140, 252, 116, 0.6);
}

.things .image {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
}



.things .image .content {
    overflow: hidden;
    text-align: center;
    max-height: 300px;
    background: rgb(118, 144, 153);
    background: rgb(128, 149, 156);
    background: linear-gradient(180deg, rgba(128, 149, 156, 1) 0%, rgba(0, 30, 40, 1) 100%);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, .3);
    border-radius: 10px;

}

.things .image .content p {
    font-size: 12px;
    font-weight: 500;
    color: var(--light);
}

.things .image2 .content p {
    font-size: 12px;
    color: rgb(108, 120, 139);
}


.things .image h2 {
    margin: 20px 0;
    font-size: 17px;
    color: #2d3747;
}

.things .image2 h2 {
    margin: 20px 0;
    font-size: 17px;
    color: #2d3747;
}

.things .information {
    background-color: transparent;
    margin: 20px 0;
    transform: translateX(-100px);
    padding: 40px 0;



}

.things .information h3 {
    color: var(--primary);
}

.things .information p {
    color: var(--sub);
}

.things .information .tools li {
    color: var(--light);
    font-weight: 600;
}

.things .information2 h3 {
    color: var(--primary);
}

.things .information2 p {
    color: var(--sub);
}

.things .information2 .tools2 li {
    color: var(--light);
    font-weight: 600;
}

.things .information .content {

    display: flex;
    flex-direction: column;
    align-items: end;
}

.things .numsection {
    color: var(--light);
}

.things .information .box {
    padding: 20px;
    background: rgb(102, 142, 80);
    background: linear-gradient(5deg, rgba(102, 142, 80, 1) 0%, rgba(48, 82, 52, 1) 100%);
    text-align: end;
    border-radius: 4px;
    border: none;
    margin: 20px 0;
    box-shadow: -5px 4px 9px -3px rgba(0, 0, 0, 0.63);

}

.things .information .box p {
    color: rgb(202, 208, 218);
    font-size: 12px;
}

.things .information .tools {
    display: flex;

}

.things .information .tools li {
    margin: 0 10px;

    font-size: 13px;
}

.things .information .icons {
    display: flex;
    align-items: center;
}

.things .git {
    font-size: 22px;
    margin: 10px 5px;
}







.things .image2 {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;

}


.things .image2 .content {
    overflow: hidden;
    text-align: center;
    max-height: 300px;
    background: linear-gradient(180deg, rgba(128, 149, 156, 1) 0%, rgba(0, 30, 40, 1) 100%);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, .3);
    border-radius: 10px;

}

.things .image2 .content p {
    color: var(--light);
}


.things .image2 h2 {
    margin: 20px 0;
}

.things .information2 {
    background-color: transparent;
    margin: 20px 0;
    transform: translateX(100px);
    position: relative;
    z-index: 1;
    padding: 40px 0;



}

.things .information2 .content {

    display: flex;
    flex-direction: column;
    align-items: start;
}

.things .information2 .box2 {
    padding: 20px;
    text-align: start;
    border-radius: 4px;
    border: none;
    margin: 20px 0;
    box-shadow: -5px 4px 9px -3px rgba(0, 0, 0, 0.63);
    background: rgb(102, 142, 80);
    background: linear-gradient(355deg, rgba(102, 142, 80, 1) 0%, rgba(48, 82, 52, 1) 100%);
}

.things .information2 .box2 p {
    color: rgb(202, 208, 218);
    font-size: 12px;
}

.things .information2 .tools2 {
    display: flex;
}

.things .information2 .tools2 li {
    margin: 0 10px;
    font-size: 13px;
}

.things .secondrow {
    margin: 40px 0;
}

.things .mtools {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0 20px;
    font-size: 13px;
}

.things .mtools li {
    color: rgb(108, 120, 139);
}

.things .mtools2 li {
    color: rgb(108, 120, 139);
}

.things .mtools2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0 20px;
    font-size: 13px;
    color: rgb(108, 120, 139);
}


.things .mobiletools {
    display: none;

}

.things .other {
    margin: 70px 0;
}

.things .othertitle {
    display: flex;
    align-items: center;
    justify-content: start;
    text-shadow: 0px 0px 12px rgba(140, 252, 116, 0.6);
}

.things .othertitle .divider {
    flex-basis: 75%;
    margin-left: 30px;
}

.things .othercontent {
    justify-content: center;
}

.things .othercontent .card {
    background: rgb(39, 53, 56);
    background: linear-gradient(266deg, rgba(39, 53, 56, 1) 0%, rgba(5, 40, 48, 1) 100%);
    position: relative;
    z-index: 1;
    transition: .3s ease;
    cursor: pointer;
    margin: 10px;
}

.things .othercontent .card .imgcon {
    max-height: 250px;
    overflow: hidden;
}

.things .othercontent .card:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 30px 0px rgba(39, 95, 112, 0.75);
}

.things .othercontent .otherimg {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

}

.things .othercontent .todoapp {
    position: absolute;
}



@media only screen and (max-width:1900px) {
    .things .mdCon {
        width: 70%;
    }

    .things .othercontent .card .imgcon {
        max-height: 270px;
        overflow: hidden;
    }
}

@media only screen and (max-width:1700px) {
    .things .othercontent .card .imgcon {
        max-height: 240px;
        overflow: hidden;
    }
}

@media only screen and (max-width:1500px) {
    .things .othercontent .card .imgcon {
        max-height: 220px;
        overflow: hidden;
    }
}

@media only screen and (max-width:1400px) {
    .things .mdCon {
        width: 80%;
    }
}

@media only screen and (max-width:1200px) {
    .things .mdCon {
        width: 90%;
    }

    .things .othercontent .card .imgcon {
        max-height: 260px;
        overflow: hidden;
    }

    .things .othercontent .col4 {
        flex-basis: 33%;
    }
}

@media only screen and (max-width:1030px) {
    .things .mdCon {
        width: 95%;
    }

    .things .othercontent .card .imgcon {
        max-height: 260px;
        overflow: hidden;
    }

    .things .othercontent .todoapp {
        position: absolute;
        font-size: 20px;
    }
}

@media only screen and (max-width:880px) {
    .things .mdCon {
        width: 90%;
    }

    .things .othercontent .card .imgcon {
        max-height: 150px;
        overflow: hidden;
    }

    .things .othercontent .col4 {
        flex-basis: 50%;
    }

    .things .project {
        display: flex;
        flex-direction: column-reverse;
    }

    .things .information {
        background-color: transparent;
        margin: 20px 0;
        transform: translateX(0px);
        padding: 40px 0;

    }

    .things .information2 {
        background-color: transparent;
        margin: 20px 0;
        transform: translateX(0px);
        padding: 40px 0;

    }

    .things .secondrow {
        flex-direction: column;
    }

    .things .othertitle h2 {
        font-size: 20px;
    }

    .things .othertitle .divider {
        flex-basis: 55%;
        margin-left: 15px;
    }

}






@media only screen and (max-width:410px) {
    .things .othertitle .divider {
        flex-basis: 40%;
        margin-left: 15px;
    }

    .things .othercontent .card .imgcon {
        max-height: 250px;
        overflow: hidden;
    }

    .things .information .tools {
        display: none;
    }


    .things .information2 .tools2 {
        display: none;
    }

    .things .mobiletools {
        display: flex;

    }

    .things .information2 .content {
        align-items: end;
    }

    .things .othercontent .col4 {
        flex-basis: 90%;
    }


}