@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


:root {
  --primary: #c4eeba;
  --secondary: #4C9E3A;
  --dark: #0B1C1F;
  --light: #cccccc;
  --sub: #608362;
}

.app {
  background: rgb(72, 34, 73);
  background: linear-gradient(324deg, rgba(72, 34, 73, 1) 0%, rgba(39, 71, 77, 1) 0%, rgba(1, 21, 24, 1) 100%);
}

h1 {
  font-size: 60px;
}

h2 {
  color: var(--primary);
}

p {
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

button {
  border: none;
  background: transparent;
  border: 5px solid var(--primary);
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--primary);
  font-weight: 700;
  cursor: pointer;
  outline: none;
  text-shadow:
    0px 0px 1.1em rgba(222, 245, 217, 0.5);
  box-shadow: inset 0px 0px 1em .1em rgba(229, 255, 223, 0.4),
    0px 0px 5em .5em rgba(222, 245, 217, 0.2),
    0px 0px .4em .1em rgba(255, 255, 255, .2);
  transition: .2s ease;
}

button:hover {
  transform: scale(1.05);
  background-color: var(--primary);
  color: var(--dark);
  box-shadow:
    0px 0px 10em .1em rgba(222, 245, 217, 0.36),
    0px 0px 2em .1em rgba(255, 255, 255, 0.26);

}




img {
  width: 100%;
}

.content {
  width: 100%;
}



.lgCon {
  width: 100%;

}

.mdCon {
  width: 80%;
  margin: 0 auto;

}

.smCon {
  width: 60%;
  margin: 0 auto;

}

.row {
  display: flex;
  flex-wrap: wrap;
}

.minirow {
  display: flex;
  flex-wrap: wrap;
}

.col1 {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col2 {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
}

.col3 {
  flex-basis: 33%;
  display: flex;
  flex-wrap: wrap;
}

.col4 {
  flex-basis: 25%;
  display: flex;
  flex-wrap: wrap;
}

.col5 {
  flex-basis: 20%;
  display: flex;
  flex-wrap: wrap;
}

.col6 {
  flex-basis: 16%;
  display: flex;
  flex-wrap: wrap;
}

.divider {
  height: 1px;
  background-color: var(--sub);
  width: 100%;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, .3);
}

.text1 {
  font-family: 'PT Mono', monospace;
}






/* navbar */
.navbar {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 100;

}

.navbar .logo img {
  width: 110px;
  padding: 10px 0;
  cursor: pointer;
  transition: .3s ease;
  position: relative;
  z-index: 1;
}


.navbar li {
  cursor: pointer;
}


.navbar .mdCon {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}

.navbar h4 {
  color: var(--primary);
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar .num {
  margin: 0 4px;
  color: var(--light);
}

.navbar li {
  margin: 0 20px;
  color: var(--primary);
}


.navbar .logo {
  justify-content: start;
}

.navbar .list {
  justify-content: end;
}



.navbar .row {
  justify-content: space-between;
  align-items: center;


}

.navbar .desktoplist .dot {
  padding: 2px 35px;
  background-color: var(--primary);
  position: absolute;
  top: 80px;
  box-shadow: 0px 0px 22px 2px rgba(196, 228, 189, 0.36);
}

.navbar .menu {
  align-items: center;
  display: none;
}

.navbar .open {
  font-size: 30px;
  position: relative;
  color: var(--primary);
}

.navbar .close {
  font-size: 30px;
  position: relative;

}

.navbar .mobilelist ul {
  flex-direction: column;
  align-items: end;
  width: 100%;
  margin-top: 80px;
  position: absolute;
}

.navbar .mobilelist li {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 10px 0;
  padding: 0px 50px 10px 0;
  color: var(--dark);
  font-weight: 800;
}

.navbar .mobilelist {

  display: none;
}

.navbar .hiddenname {
  overflow: hidden;
  position: absolute;
  top: 36px;
  left: 120px;
  z-index: 0;
  transform: rotate(45deg) translateY(70px) translateX(-8px);


}

.navbar .hiddenname img {
  width: 50px;
}

.navbar .socials {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(380px) translateX(70px);
}

.navbar .icon {
  margin: 7px 0;
  font-size: 25px;
  color: var(--light);
  transition: .2s ease;
  cursor: pointer;
  opacity: .5;
}

.navbar .icon:hover {
  transform: scale(1.2);
  color: var(--primary);
  opacity: 1;
}

.navbar .divider {
  width: 2px;
  height: 200px;
  background-color: var(--light);
  margin-top: 10px;
  opacity: .5;
}




/* navbar */

@media only screen and (max-width:1050px) {
  .navbar .open {
    font-size: 30px;
    position: relative;

  }

  .navbar .hiddenname {
    overflow: hidden;
    position: absolute;
    top: 36px;
    left: 120px;
    z-index: 0;
    transform: rotate(45deg) translateY(57px) translateX(7px);


  }

  .navbar .close {
    font-size: 30px;
    position: relative;
    display: block;
  }

  .navbar .mdCon {
    width: 100%;
    padding: 0 20px;
  }

  .navbar .desktoplist {
    display: none;
  }

  .navbar .menu {
    display: flex;
  }

  .navbar .mobilelist {
    background: rgb(77, 159, 58);
    background: linear-gradient(24deg, rgba(77, 159, 58, 1) 0%, rgba(47, 87, 20, 1) 100%);
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    transform: translateX(0px);
    display: block;
  }

}

@media only screen and (max-width:820px) {
  .navbar .mdCon {
    width: 95%;
  }

  .navbar .mobilelist {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    transform: translateX(20px);
    display: block;
  }
}

@media only screen and (max-width:520px) {
  .navbar .mdCon {
    width: 95%;
  }

  .navbar .mobilelist {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    transform: translateX(20px);
    display: block;
  }
}

@media only screen and (max-width:420px) {
  .navbar .mdCon {
    width: 95%;
  }

  .navbar .mobilelist {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    transform: translateX(10px);
    display: block;

  }

  .navbar .mobilelist li {
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 10px 0;
    padding: 0px 30px 10px 0
  }
}